body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(128, 173, 160);
}

.authHeader {
  padding: 15px;
  margin: 15px;
  margin-top: 15px;
}

.signInLink {
  background-color: rgb(193, 215, 209);
  padding: 10px;
  margin: 30px;
}

.signUpLink {
  background-color: rgb(193, 215, 209);
  padding: 10px;
  margin: 30px;
}

.input {
  margin: 20px;
  align-content: center;
}
