body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.authHeader {
  padding: 15px;
  margin: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.input {
  margin: 20px;

  display: inline-block;
}

.auth-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 300px;
  width: 300px;
  background-color: #b0bbb0;
  border-radius: 3.5%;
  align-items: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.auth-background {
  display: flex;
  justify-content: center;
}
